*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1110px;
    margin: auto;
    padding: 0 15px;
}
.cv-form{
    padding: 80px 0;
}
.cv-section-block{
    display: flex;
    justify-content: space-between;
}
.cv-section-block-right{
    margin-left: 5px;
}
.cv-section-block-left{
    margin-right: 5px;
}
.cv-section{
    max-width: 50%;
    width: 100%;
    padding: 20px 30px;
    border-radius: 3px;
    box-shadow: 0px 1.5px 7px rgba(0, 0, 0, 0.04);
    border: 0.8px solid #E5E5E5;
}
.cv-section-fw{
    max-width: 100%;
}
.cv-section-block{
    margin-bottom: 10px;
}
.cv-section-header{
    text-align: left;
    color: #3D4857;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
}
.cv-section-header p{
    width: max-content;
    margin: 0;
    padding: 0 10px 7px 10px;
    border-bottom: 1.5px solid rgba(192, 199, 206, 0.25);
}
.cv-section-header-center{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cv-form-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.cv-form-item{
    width: 47%;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    height: fit-content;
}
.city-form-item{
    width: 100%;
}
.cv-form-item.cv-multi-field{
    display: block;
}
.cv-form-item-fw{
    width: 100%;
}
.cv-form-item-column{
    flex-direction: column;
    align-items: flex-start;
}
.cv-form-field, .cv-form-file-label{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    color: #323232;
    background: #F8F9FE;
    outline: none;
    transition: .5s;
    box-sizing: border-box;
}
.cv-form-item input[type=text], .cv-form-item input[type=number], .cv-form-item input[type=email], .cv-form-item input[type=date]{
    width: 100%;
    appearance: none;
    background: #F8F9FE;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    height: 32px;
    padding-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3D4857;
}
.cv-form-item input::placeholder, .cv-form-item textarea::placeholder{
    color: #8492A4;
    transition: .5s;
}
input.input-focus:focus::placeholder, textarea.input-focus:focus::placeholder{
    color: transparent;
}
/* ---------SVG Icons----------- */
.cv-form-svg-open{
    position: absolute;
    right: 8px;
    pointer-events: none;
    transition: .5s;
    height: 16px;
}
.rotate{
    transform: rotate(180deg);
}
.cv-form-svg{
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
    pointer-events: none;
}
.cv-form-item-emp .cv-form-svg, .cv-form-item-emp .cv-form-svg-open{
    bottom: 8px;
}
.cv-form-svg svg, .cv-form-svg-open svg{
    height: 16px;
    width: 16px;
}
.cv-form-svg:after{
    content: '';
    height: 16px;
    width: 2px;
    border-radius: 25px;
    background: #8492A4;
    display: inline-block;
    margin-left: 5px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cv-form-item textarea {
    width: 100%;
    resize: none;
    height: 100px;
    background: #F8F9FE;
    border: 0.7px solid #C0C7CE;
    box-sizing: border-box;
    border-radius: 5px;
    color: #3D4857;
    font-size: 14px;
}
.cv-form-item textarea::placeholder {
    color: #8492A4;
    font-size: 14px;

}
.cv-form-field:focus{
    background: #FFFFFF;
}

.cv-form-block-doc{
    justify-content: space-between;
    flex-wrap: wrap;
}
.cv-form-block-doc input:checked + label div{
    background-color: #50A718;
}
.cv-form-block-doc .cv-form-item{
    width: auto;
}
.cv-form-file-hidden{
    opacity: 0;
    display: none;
}
.cv-form-file-label{
    width: 100%;
    text-align: center;
}
.skill-block, .years-work-block{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.cv-form-item-emp{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
.add-emp{
    display: flex;
}
.dop-title{
    max-width: max-content;
    padding: 0 10px 7px 10px;
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 700;
    color: #3D4857;
    line-height: 22px;
    border-bottom: 1.5px solid rgba(192, 199, 206, 0.25);;
}
.choose-cat{
    margin-bottom: 0;
}
.cv-form-items-dop{
    display: flex;
    width: 100%;
}
.dop-item{
    margin-bottom: 15px;
}
.cv-form-items-exp .cv-form-items-dop, .cv-form-items-edu .cv-form-items-dop{
    flex-wrap: wrap;
}
.cv-form-items-exp .cv-form-item, .cv-form-items-edu .cv-form-item{
    width: max-content;
    margin-bottom: 0;
}
.cv-form-items-exp .cv-form-item:not(:nth-child(3)){
    margin-right: 15px;
}
.cv-form-items-edu .cv-form-item:first-child{
    margin-right: 15px;
}
.cv-form-items-edu{
    width: 100%;
}
.cv-form-items-edu .add, .cv-form-items-exp .add{
    margin-bottom: 0;
}

input[type="text"].short-description{
    padding-left: 10px;
    border: 0.7px solid #C0C7CE;
}

.cv-btns{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cv-btn-sub, .cv-btns-gnr{
    font-size: 16px;
    background: #52A708;
    border: none;
    color: #FBFCFD;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 7.5px rgba(82, 167, 8, 0.6);
    letter-spacing: -0.02em;
    font-weight: 700;
    transition: .5s;
}
.cv-btn-sub{
    padding: 5px 20px;
}
.cv-btns-gnr{
    margin-left: 10px;
    position: relative;
    max-width: max-content;
    display: flex;
    align-items: center;
}
.cv-btn-gnr{
    padding: 5px 20px;
}
.cv-btn-sub:active{
    transform: scale(1.2);
}


/*------------Dropdown menu-----------*/
.input-checkbox-hidden{
    display: none;
    opacity: 0;
}
.dropdown-header, .dropdown-header-multiple{
    cursor: pointer;
    padding-right: 30px;
}
.input-checkbox-label{
    background: #F8F9FE;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #8492A4;
    padding: 0 10px;
    font-weight: 400;
    height: 29px;
    font-size: 14px;
}
.input-checkbox-label-dropdown{
    display: flex!important;
    align-items: center;
}
.input-checkbox-label-dropdown div{
    width: 10px;
    height: 10px;
    border: 2px solid #50A718;
    border-radius: 100%;
    margin-right: 10px;
}
.input-checkbox-label div{
    width: 10px;
    height: 10px;
    border: 2px solid #50A718;
    border-radius: 100%;
}
.input-checkbox-label span{
    width: 2px;
    height: 15px;
    background-color: #8492A4;
    margin: 0 8px;
    border-radius: 1.5px;
}
.dropdown, .dropdown-multiple{
    max-height: 150px;
    border: none;
	border-top: none;
	border-radius: 0 0 5px 5px;
    box-shadow: 0px 0px 7.18034px rgba(156, 156, 156, 0.6);
	overflow-y: scroll;
}
.dropdown-menu , .dropdown-menu-multiple{
	margin: 0;
    padding: 0;
	color:#3D4857;
    background-color: #F5F5F5;
}
.dropdown-item, .dropdown-item-multiple{
	border-bottom: 1px solid rgba(192, 199, 206, 0.25);
    list-style: none;
	transition: .5s;
    padding: 10px;
}
.cv-btns-gnr .dropdown-item{
    text-align: center;
}
.dropdown-item-multiple{
    padding: 0;
}
.dropdown-item-multiple label{
    padding: 10px;
}

.dropdown-item:hover{
	background-color: #2271B1;
	color: #ffffff;
}
.dropdown-item-multiple:hover{
	background-color: #2271B1;
	color: #ffffff;
}
.dropdown-item:last-child{
	border: none;
}
.dropdown-item-multiple:last-child{
	border: none;
}
.dropdown, .dropdown-multiple{
	position: absolute;
	background-color: white;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
}
.hide{
    display: none;
}



.cdl-label, .neg-label{
    width: 100%;
    justify-content: flex-start;
    height: 32px;
}

.form-item-checkbox{
    height: 32px;
}

.form-item-salary{
    width: 70%
}
.form-item-salary input{
    padding-right: 98px;
}
.type-salary-block{
    position: absolute;
    right: 0;
    width: 98px;
}
.type-salary{
    position: relative;
    display: flex;
    align-items: center;
}
.type-salary input[type="text"]{
    background-color: transparent;
    border: none;
    padding: 0;
    padding-right: 25px;
    outline: none;
}
.type-salary::before{
    content: '/';
    color: #8492A4;
}
#res_salary::-webkit-input-placeholder::before{
    content:"Line 1\A Line 2\A Line 3\A"!important;
}
.form-item-neg-salary{
    width: max-content;
    justify-content: flex-start;
}

.cv-form-item{
    position: relative;
}

.disabled-input{
    opacity: .4;
    pointer-events: none;
    cursor: pointer;
}
.skill-block .disabled-input{
    pointer-events: auto;
}
.social-media-link-block .disabled-input{
    pointer-events: auto;
}
.readonly{
    caret-color: transparent !important;
}
.social-section .cv-form-item{
    margin-bottom: 0;
}
.lang-section .cv-form-item{
    margin-bottom: 0;
}
.job-block .cv-form-item{
    margin-bottom: 0;
}
.job-header p{  
    width: auto;
    word-break: break-word;
}
.add-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.add-item:not(:last-child){
    margin-bottom: 15px;
}

.add{
    padding: 5px 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.add, .remove{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    background: #F8F9FE;
    cursor: pointer;
    box-sizing: border-box;
    max-height: 32px;
    min-height: 32px;
}
.remove{
    padding: 0 10px;
    margin-left: 10px;
}
.hide-remove{
    display: none;
}
.add svg, .remove svg{
    pointer-events: none;
}



@media(min-width: 1001px) and (max-width: 1095px){
    .form-item-salary{
        width: 100%;
    }
}
@media(max-width: 1000px){
    .cv-form-container{
        box-shadow: 0px 1.5px 7px rgba(0, 0, 0, 0.04);
        border: 0.8px solid #E5E5E5;
        border-radius: 3px;
    }
    .cv-section-header-center:first-child{
        margin-top: 30px;
    }
    .cv-section-block{
        flex-direction: column;
        align-items: center;
    }
    .cv-section{
        max-width: 100%;
        width: calc(100% - 60px);
        box-shadow: none;
        border: none;
        padding: 0 30px;
    }
    .cv-section-block{
        margin-bottom: 0;
    }
    .cv-section-block-left{
        margin-right: 0;
    }
    .cv-section-block-right{
        margin-left: 0;
    }
    .job-header p{
        width: max-content;
    }
    .form-item-neg-salary{
        width: 28%;
    }
}
@media(max-width: 875px){
    .cv-form-items-dop{
        justify-content: space-between;
    }
}
@media(max-width: 769px){
    .cv-form-items-exp .add-item .cv-form-item:not(:nth-child(3)){
        margin-bottom: 15px;
    }
}
@media(max-width: 615px){
    .cv-form-item-column {
        align-items: center;
    }
    .cv-form-items-dop{
        flex-direction: column;
        align-items: center;
    }
    .cv-form-item-emp{
        width: 100%;
    }
}
@media(max-width: 560px){
    .cv-section{
        width: calc(100% - 30px);
    }
    .cv-section{
        padding: 0px 15px;
    }
    .add-emp{
        flex-direction: column;
    }
    .job-block .cv-form-item-emp{
        margin-bottom: 15px;
        margin-left: 0;
        margin-top: 0;
    }
    .cv-form-block-doc .cv-form-item{
        width: 100%;
    }
    .cv-form-block-doc .input-checkbox-label{
        width: 100%;
        justify-content: flex-start;
    }
    .dop-edc, .dop-exp{
        width: 100%;
    }
    .dop-edc .input-checkbox-label, .dop-exp .input-checkbox-label{
        justify-content: flex-start;
    }
    .cv-section-header p{
        margin: auto;
	    text-align: center;
    }
    .cv-form-block{
        flex-direction: column;
        align-items: center;
    }
    .cv-form-item{
        width: 100%;
    }
    .social-media-block, .lang-block{
        margin-bottom: 15px!important;
    }
    .job-header p{
        width: auto;
    }
    .cv-form-items-edu .cv-form-item{
        width: 100%;
    }
    .cv-form-items-edu .cv-form-item:first-child{
        margin-bottom: 15px;
        margin-right: 0;
    }
    .cv-form-items-exp .cv-form-item{
        width: 100%;
        margin-right: 0;
    }
    .cv-form-items-exp .cv-form-item:not(:nth-child(3)){
        margin-right: 0;
    }
}
@media(max-width: 365px){
    .cv-btns{
        flex-direction: column;
        align-items: center;
    }
    .cv-btns-gnr{
        margin-top: 10px;
        max-width: 200px;
        margin-left: 0;
        width: 100%;
    }
    .cv-btn-sub, .cv-btns-gnr{
        width: 200px;
    }
}
